html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #000814;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.clock {
  display: flex;
  gap: 20px;
  transform: scale(2);
}

.digit {
  position: relative;
  width: 40px;
  height: 70px;
}

.segment {
  position: absolute;
  background-color: #00f0ff;
  opacity: 0.08;
  transition: opacity 0.3s;
  border-radius: 3px;
}

.on {
  opacity: 1;
  box-shadow: 0 0 10px #00f0ff;
}

.a {
  top: 0;
  left: 5px;
  width: 30px;
  height: 6px;
}

.b {
  top: 5px;
  right: 0;
  width: 6px;
  height: 25px;
}

.c {
  bottom: 5px;
  right: 0;
  width: 6px;
  height: 25px;
}

.d {
  bottom: 0;
  left: 5px;
  width: 30px;
  height: 6px;
}

.e {
  bottom: 5px;
  left: 0;
  width: 6px;
  height: 25px;
}

.f {
  top: 5px;
  left: 0;
  width: 6px;
  height: 25px;
}

.g {
  top: 32px;
  left: 5px;
  width: 30px;
  height: 6px;
}

.colon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.dot {
  width: 6px;
  height: 6px;
  background-color: #00f0ff;
  border-radius: 50%;
  box-shadow: 0 0 6px #00f0ff;
  margin: 6px 0;
}